name: CI

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]
  push:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage" --results-directory TestResults/
      - name: Publish Code Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: 'TestResults/**/coverage.cobertura.xml'
          badge: true
          fail_below_min: true
          thresholds: '80 100'  # Fails if below 80%
          format: markdown
          output: both
      - name: Calculate Coverage Color
        id: calc_coverage
        shell: bash
        run: |
          COVERAGE=$(grep -o '\*\*[0-9]*%\*\*' code-coverage-results.md | head -n 1 | tr -d '*%')

          if [ -z "$COVERAGE" ]; then COVERAGE=0; fi

          if (( COVERAGE >= $COVERAGE_GREEN_BOUND )); then
            COLOR="green"
          elif (( COVERAGE >= $COVERAGE_MIN_BOUND )); then
            COLOR="orange"
          else
            COLOR="red"
          fi

          echo "COVERAGE_PERCENT=${COVERAGE}%" >> $GITHUB_ENV
          echo "COVERAGE_COLOR=${COLOR}" >> $GITHUB_ENV
      - name: Update Coverage Badge
        if: always()
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}  
          gistID: 014183e2f85a69201c0d39313d2065eb
          filename: coverage.json
          label: Coverage
          message: ${{ env.COVERAGE_PERCENT }}
          color: ${{ env.COVERAGE_COLOR }}
          namedLogo: dotnet
    env:
      COVERAGE_VAL: $(grep -o '\*\*[0-9]*%\*\*' code-coverage-results.md | head -n 1 | tr -d '*')
      COVERAGE_GREEN_BOUND: 80
      COVERAGE_MIN_BOUND: 50